<div class="card">
  <div class="card-header">
    <h3 class="card-heading">{{list.listName}}</h3>
    <a class="header-icon" (click)="addCards()">
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </a>
    <a class="header-icon" (click)="deleteList()">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
  </div>
  <span class="border"></span>
  <ul class="card-list">
    <ng-container *ngIf="(cardState$ | async | cardFilter: list.listId) as cards">
      <ng-container *ngFor="let card of cards">
        <app-cards [card]="card" (deleteCard)="deleteCard($event)" (updateCard)="updateCards($event)"></app-cards>
      </ng-container>
    </ng-container>
  </ul>
</div>