<header class="dashboard-header">
  <h3 class="main-heading">Welcome to Workflow !</h3>
</header>
<section class="dashboard-home">
  <div class="container">
    <div *ngIf="(boardState$ | async) as boards">
      <div class="card-wrapper" *ngIf="!boards.loading">
        <div class="card-mini" (click)="router.navigate(['board', board.boardId, board.boardName])" *ngFor="let board of boards.boards">
          <div class="card-mini-header">
            <span class="date">{{board.date | date:'mediumDate'}}</span>
            <span class="color-picker-wrap">
              <input type="color" value="#696969" class="color-picker">
              <span>
                <a class="close" (click)="deleteBoard(board.boardId)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
              </span>
            </span>
          </div>
          <div class="card-mini-body cursor-pointer">
            <p>{{board.boardName}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!boards.boards.length">
          <div class="container">
            <p style="text-align: center">You haven't added any Boards</p>
          </div>
        </div>
    </div>
    
  </div>
  <a class="add" (click)="addBoard()">
    <span> &#43; </span>
  </a>
</section>
<footer class="copyrights">
  <span>Copyright © 2017 Asteria Aerospace | All Rights Reserved.</span>
</footer>